# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
.venv/

# Env files (DO NOT upload secrets)
.env

# VS Code
.vscode/

# Playwright
playwright-report/
test-results/

# Data files
LLMFiles/
*.csv
*.xlsx
*.pdf
*.png
*.jpg

# Log files
*.log

# Uvicorn hot reload temp files
*.pid
